<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/bootstrapCSS/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/customerStyle.css">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
</head>
<body>

<header>
    <nav id="nav_bar" >
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img src="/assets/images/mobile-phone-shop-logo.jpg" alt="Logo" class="d-inline-block align-text-top" width="100px" height="80px">
                <label id="title">CUSTOMER FORM</label>
            </a>
            <ul class="nav nav-tabs">
                <li id="aaa" class="nav-item">
                    <a id="dashboard" class="nav-link" href="dashBord.html">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a id="customer" class="nav-link active" href="customerForm.html">Customer</a>
                </li>
                <li class="nav-item">
                    <a id="item" class="nav-link" href="itemForm.html">Item</a>
                </li>
                <li class="nav-item">
                    <a id="order" class="nav-link" href="orderForm.html">Order</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="div-container" id="searchCus">
    <img src="../assets/images/search.png">
    <input type="text" placeholder="Search by customer id..">
</div>

    <div class="col col-lg-4 col-md-12 col-12 container" id="detailDiv">
        <form action="" class="row">
            <h3>Customer details</h3>
            <div class="mb-3 col-lg-12 col-md-4">
                <label for="id" class="form-label">Customer ID</label>
                <input type="text" class="form-control" id="id" placeholder="C001">
            </div>
            <div class="mb-3 col-lg-12 col-md-8">
                <label for="name" class="form-label">Customer Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="mb-3 col-lg-12 col-md-8">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address">
            </div>
            <div class="mb-3 col-lg-12 col-md-4">
                <label for="salary" class="form-label">Salary</label>
                <input type="number" class="form-control" id="salary" placeholder="Rs: 000000.00">
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-success mb-1">Save</button>
                <button type="button" class="btn btn-primary mb-1">Update</button>
                <button type="button" class="btn btn-danger mb-1">Delete</button>
                <button type="reset" class="btn btn-warning mb-1">Clear</button>
            </div>
        </form>
    </div>

<div id="tableDiv">
    <div class="col col-lg-8" id="table">
        <table class="table table-bordered">
            <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Salary</th>
            </thead>

            <tbody>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr><tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr><tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Prabhath</td>
                <td>Kalutara</td>
                <td>100000</td>
            </tr>


            </tbody>
        </table>
    </div>
</div>
</body>
</html>