<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dash Bord</title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/bootstrapCSS/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/dashBordStyle.css">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
</head>
<body>
<div class="back">
    <img src="../assets/images/mobile-phone-shop-logo.jpg" id="logo">
    <div id="customerBtn" class="con-div">
        <a href="customerForm.html">
            <img src="../assets/images/customer.png" >
            <label class="firstLabel">Customer</label>
            <label class="secondLabel">management form here..</label>
        </a>
    </div>

    <div id="itemBtn" class="con-div">
        <a href="itemForm.html">
            <img src="../assets/images/item.png" >
            <label class="firstLabel">Item</label>
            <label class="secondLabel">management form here..</label>
        </a>
    </div>

    <div id="orderBtn" class="con-div">
        <a href="orderForm.html">
            <img src="../assets/images/cart.png" >
            <label class="firstLabel">Order</label>
            <label class="secondLabel">management form here..</label>
        </a>
    </div>
    <a href="../index.html">
        <button type="button" class="btn btn-danger mb-1">LogOut</button>
    </a>
</div>

</body>
</html>