<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Form</title>
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/bootstrapCSS/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/itemStyle.css">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
</head>
<body>

<header>
  <nav id="nav_bar" >
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <img src="/assets/images/mobile-phone-shop-logo.jpg" alt="Logo" class="d-inline-block align-text-top" width="100px" height="80px">
        <label id="title">ITEM FORM</label>
      </a>
      <ul class="nav nav-tabs">
        <li id="aaa" class="nav-item">
          <a id="dashboard" class="nav-link" href="dashBord.html">Dashboard</a>
        </li>
        <li class="nav-item">
          <a id="customer" class="nav-link" href="customerForm.html">Customer</a>
        </li>
        <li class="nav-item">
          <a id="item" class="nav-link active" href="itemForm.html">Item</a>
        </li>
        <li class="nav-item">
          <a id="order" class="nav-link" href="orderForm.html">Order</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="div-container" id="searchItem">
  <img src="../assets/images/search.png">
  <input type="text" placeholder="Search by item code..">
</div>

<div class="col col-lg-4 col-md-12 col-12 container" id="detailDiv">
  <form action="" class="row">
    <h3>Customer details</h3>
    <div class="mb-3 col-lg-12 col-md-4">
      <label for="id" class="form-label">Item Code :</label>
      <input type="text" class="form-control" id="id" placeholder="I001">
    </div>
    <div class="mb-3 col-lg-12 col-md-8">
      <label for="name" class="form-label">Description :</label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="mb-3 col-lg-12 col-md-8">
      <label for="address" class="form-label">Unit Price :</label>
      <input type="text" class="form-control" id="address" placeholder="Rs: 000000.00">
    </div>
    <div class="mb-3 col-lg-12 col-md-4">
      <label for="salary" class="form-label">Qty :</label>
      <input type="number" class="form-control" id="salary" placeholder="00">
    </div>
    <div class="buttons">
      <button type="submit" class="btn btn-success mb-1">Save</button>
      <button type="button" class="btn btn-primary mb-1">Update</button>
      <button type="button" class="btn btn-danger mb-1">Delete</button>
      <button type="reset" class="btn btn-warning mb-1">Clear</button>
    </div>
  </form>
</div>
<div id="tableDiv">
  <div class="col col-lg-8" id="table">
    <table class="table table-bordered">
      <thead>
      <th>Code</th>
      <th>Desc</th>
      <th>UnitPrice</th>
      <th>QtyOnHand</th>
      </thead>

      <tbody>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>I001</td>
        <td>Redmi note 9s</td>
        <td>49000</td>
        <td>10</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
</body>
</html>