#contact_section {
    position: relative;
    background-color: #fff;
    margin-left: 307px;
    margin-top: -22px;
}

#contact_section > span {
    display: flex;
}

#contact_section > span > div:first-child > input {
    background-color: #C0EEF2;
    width: 40px;
    border-radius: 100%;
    padding: 5px 5px 5px 5px;
    display: flex;
    margin: 0px 0px 40px 100px;
}

.mainLabels {
    font-weight: bold;
    font-size: 30px;
    font-family: Calibri, serif;
}
.valueLabels {
    font-size: 18px;
}
#location_label {
    position: absolute;
    top: 100px;
    left: 180px;
}
#location_value_label {
    position: absolute;
    top: 140px;
    left: 180px;
}
#email_label {
    position: absolute;
    left: 180px;
    top: 190px;
}
#email_value_label {
    position: absolute;
    left: 180px;
    top: 230px;
}
#call_label {
    position: absolute;
    left: 180px;
    top: 280px;
}
#call_value_label {
    position: absolute;
    left: 180px;
    top: 320px;
}

#contact_section > span > div:last-child {
    position: absolute;
    width: 400px;
    height: 600px;
    top: 70px;
    left: 750px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.feedbackLabel {
    font-family: Calibri, sans-serif;
    font-size: x-large;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}
.feedbackInputs {
    width: 310px;
    height: 30px;
    background-color: #ECF9FF;
    margin-left: 30px;
    border-radius: 10px;
    border: 2px solid #a4f1e3;
    padding-left: 10px;
    padding-right: 10px;
}
#feedback-message {
    background-color: #ECF9FF;
    margin-left: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: 2px solid #a4f1e3;
}
#sendBtn {
    margin-left: 290px;
    margin-top: 10px;
    padding: 5px 20px;
    color: white;
    background-color: rgba(0, 28, 48, 0.8);
    cursor: pointer;
}


@media (max-width: 768px) {
    #contact_section {
        position: relative;
        background-color: #fff;
        margin-left: 0;
        width: 100%;
        height: 1500px;
    }
    #contact_section > span > div:last-child {
        position: absolute;
        width: 400px;
        height: 600px;
        top: 750px;
        left: 50px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
}

@media (max-width: 426px) {
    /*.gmap_canvas {
        overflow: hidden;
        background: none!important;
        width: 90vw;
        height: 350px;
    }*/
    #contact_section > span > div:last-child {
        width: 90vw;
        left: 13px;
    }
    .feedbackInputs {
        width: 65vw;
        height: 30px;
        background-color: #ECF9FF;
        margin-left: 30px;
        border-radius: 10px;
        border: 2px solid #a4f1e3;
        padding-left: 10px;
        padding-right: 10px;
    }
    #feedback-message {
        background-color: #ECF9FF;
        margin-left: 30px;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
        border: 2px solid #a4f1e3;
        width: 65vw;
    }
    .valueLabels {
        font-size: 16px;
    }
    #location_value_label{
        position: absolute;
        left: 150px;
    }
    #email_value_label{
        position: absolute;
        left: 150px;
    }
    #call_value_label{
        position: absolute;
        left: 150px;
    }
    .mapouter {
        position: relative;
        text-align: right;
        width: 85vw;
        height: 350px;
    }
    .gmap_canvas {
        overflow: hidden;
        background: none!important;
        width: 85vw;
        height: 350px;
    }
    .gmap_iframe {
        width: 85vw;
        height: 320px!important;
        margin: 0px 50px!important;
    }
}